body {
    background-color: #141429;
}

.header {
    padding-top: 40px;
    position: fixed;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 99999999;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__nav-list {
        display: flex;
        align-items: center;
        gap: 75px;
    }

    &__mobile-nav {
        opacity: 0;
        visibility: hidden;
        -webkit-transition: 0.4s ease;
        -o-transition: 0.4s ease;
        transition: 0.4s ease;
        cursor: pointer;
        position: fixed;
        top: 0;
        right: -100vw;
        bottom: 0;
        z-index: -10;

        &::after {
            display: block;
            content: '';
            background-color: $red-color;
            background-repeat: no-repeat;
            width: 0;
            height: 0;
            border-radius: 50%;
            transition: 0.4s ease;
            opacity: 0;
            cursor: auto;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            transform: translate(50%, -23%);
        }

        &.active {
            display: flex;
            justify-content: flex-end;
            visibility: visible;
            opacity: 1;
            z-index: 9;
            left: 0;
            right: 0;

            &::after {
                width: 100vw;
                height: 100vw;
                opacity: 1;
                z-index: 9;
            }

            & .header__mobile-nav-list {
                opacity: 1;
            }
        }
    }

    &__mobile-nav-list {
        max-width: 50vw;
        width: 100%;
        position: relative;
        z-index: 10;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        opacity: 0;
    }

    &__mobile-nav-item {
        margin-bottom: 35px;
    }

    &__mobile-nav-link {
        font-family: $font-secondary;
        font-size: 32px;
        font-weight: 400;
        line-height: 37px;
        text-align: left;
    }
}

.rotate {
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 1;

    &__front {
        transform-origin: 50% 0 0;
        transition: transform .35s cubic-bezier(.76, 0, .24, 1) 0s;
    }

    &__back {
        transform-origin: 50% 0 0;
        transition: transform .35s cubic-bezier(.76, 0, .24, 1) 0s;
        position: absolute;
        top: 100%;
        transform: rotateX(-90deg);
        color: $red-color;
    }

    &:hover {
        & .rotate__front {
            transform: rotateX(-90deg);
        }

        & .rotate__back {
            transform: translateY(-100%) rotateX(0);
        }
    }
}

@media screen and (max-width: 1024px) {
    .header {
        padding-top: 25px;

        &__nav {
            display: none;
        }

        &__mobile-nav {
            &.active::after {
                height: 100vh;
                width: 100vw;
                transform: translate(0);
                border-radius: 0;
            }
        }

        &__mobile-nav-list {
            justify-content: flex-start;
            padding-top: 100px;
        }
    }
}