.second {
    background-image: url(../img/screen2_bg@4x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__inner {
        padding-top: 25vh;
        padding-inline: 30px;
        display: grid;
        grid-template-columns: 55% 45%;
        column-gap: 18px;
    }
}


.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.swiper-thumbs {
    &__slide-wrapper {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid $white-color;
        background-color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .swiper-slide {
        img {
            max-height: 100px;
            object-fit: contain;
        }
    }
}

.swiper-thumbs .swiper-slide-thumb-active .swiper-thumbs__slide-wrapper {
    background-color: transparent;
}

.slider-lg {
    &__slide-container {
        display: grid;
        border: 3px solid $white-color;
        border-radius: 20px;
        padding: 55px 30px;
        grid-template-columns: 300px minmax(100px, 50%);
        grid-template-rows: auto auto;
    }

    &__slide-title {
        font-family: $font-secondary;
        font-size: 42px;
        line-height: 49px;
        text-align: left;
        margin-bottom: 30px;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &__slide-text {
        font-size: 28px;
        line-height: 33px;
        text-align: left;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    &__slide-image-container {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}