.second {
    background-image: url(../img/screen2_bg@4x.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__inner {
        padding-top: 25vh;
        padding-inline: 30px;
        display: grid;
        grid-template-columns: 55% 45%;
        column-gap: 18px;
    }

    &__title {
        margin-bottom: 12px;
    }

    &__sub-title {
        margin-bottom: 30px;
    }
}


.swiper-slide {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
}

.swiper-thumbs {
    &__slide-wrapper {
        width: 150px;
        height: 150px;
        border-radius: 50%;
        border: 3px solid $white-color;
        background-color: $white-color;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
    }

    .swiper-slide {
        img {
            max-height: 100px;
            object-fit: contain;
        }
    }
}

.swiper-thumbs .swiper-slide-thumb-active .swiper-thumbs__slide-wrapper {
    background-color: transparent;
}

.slider-lg {
    &__slide-container {
        display: grid;
        border: 3px solid $white-color;
        border-radius: 20px;
        padding: 55px 30px;
        grid-template-columns: 300px minmax(100px, 50%);
        grid-template-rows: auto auto;
        gap: 25px;
    }

    &__slide-title {
        font-family: $font-secondary;
        font-size: 42px;
        line-height: 49px;
        text-align: left;
        grid-column: 1/2;
        grid-row: 1/2;
    }

    &__slide-text {
        font-size: 28px;
        line-height: 33px;
        text-align: left;
        grid-column: 1/2;
        grid-row: 2/3;
    }

    &__slide-image-container {
        grid-column: 2/3;
        grid-row: 1/3;
    }
}

@media screen and (max-width: 1300px) {
    .second {
        &__inner {
            grid-template-columns: 50% 50%;
        }
    }
}


@media screen and (max-width: 1200px) {
    .swiper-thumbs {
        &__slide-wrapper {
            width: 100px;
            height: 100px;
        }

        .swiper-slide {
            img {
                max-height: 65px;
            }
        }
    }

    .slider-lg {
        &__slide-title {
            font-size: 34px;
            line-height: 44px;
        }

        &__slide-text {
            font-size: 22px;
            line-height: 26px;
        }

        &__slide-container {
            padding: 45px 18px;
            gap: 15px;
        }
    }
}

@media screen and (max-width: 1100px) {
    .second {
        &__inner {
            grid-template-columns: 47% 53%;
        }
    }
}

@media screen and (max-width: 1024px) {
    .second {
        background-position: left;

        &__inner {
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr;
            padding-block: 95px;
            padding-inline: 0;
            display: flex;
            flex-direction: column;
        }

        &__title {
            margin-bottom: 25px;
        }

        &__sub-title {
            margin-bottom: 35px;
        }

        &__info {
            grid-column: 1/2;
            grid-row: 1/2;
        }

        &__slider-wrapper {
            grid-column: 1/2;
            grid-row: 2/3;
        }
    }

    .swiper-thumbs {
        max-width: 600px;

        &__slide-wrapper {
            width: 90px;
            height: 90px;
        }
    }

    .slider-lg {
        max-width: 600px;

        &__slide-container {
            padding: 45px 18px;
            gap: 15px;
            grid-template-columns: auto;
            border: 0;
        }

        &__slide-title {
            grid-column: 1/2;
            grid-row: 2/3;
        }

        &__slide-text {
            grid-column: 1/2;
            grid-row: 3/4;
        }

        &__slide-image-container {
            grid-column: 1/2;
            grid-row: 1/2;

        }

        &__slide-image {
            max-width: 150px;
            margin: 0 auto;
        }
    }
}