.container {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    width: 100%;
    max-width: var(--container-width);
}

.container-lg {
    margin: 0 auto;
    padding: 0 calc(var(--container-offset) * 2);
    width: 100%;
    max-width: 1920px;
}

.container-fluid {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    width: 100%;
    max-width: 100%;
}

.container-md {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    width: 100%;
    max-width: 1356px;
}

.container-sm {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    width: 100%;
    max-width: 1190px;
}

.container-xs {
    margin: 0 auto;
    padding: 0 var(--container-offset);
    width: 100%;
    max-width: 1130px;
}

.h1 {
    font-family: $font-secondary;
    font-size: 72px;
    line-height: 83px;
}

.h2 {
    font-family: $font-secondary;
    font-size: 56px;
    line-height: 65px;
}

.sub-title {
    font-family: $font-secondary;
    font-size: 38px;
    line-height: 44px;
}

.star {
    background-image: url(../img/star@4x.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    animation: fade 3s linear infinite;
}

@keyframes fade {

    0%,
    100% {
        transform: scale(.1);
    }

    50% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1200px) {
    .h1 {
        font-size: 52px;
        line-height: 60px;
    }

    .h2 {
        font-size: 52px;
        line-height: 60px;
    }

    .sub-title {
        font-size: 28px;
        line-height: 32px;
    }
}

@media screen and (max-width: 1024px) {
    .section {
        min-height: 100vh;
    }
}